In [ ]:
import dask.array as da

In [2]:
x = da.ones(15, chunks=(5,))

In [3]:
x

dask.array<ones_like, shape=(15,), dtype=float64, chunksize=(5,), chunktype=numpy.ndarray>

In [4]:
x.sum()

dask.array<sum-aggregate, shape=(), dtype=float64, chunksize=(), chunktype=numpy.ndarray>

In [5]:
x.sum().compute()

15.0

## Larger arrays

In [23]:
x = da.random.random((10_000, 10_000), chunks=(1_000, 1_000))

In [24]:
x

dask.array<random_sample, shape=(10000, 10000), dtype=float64, chunksize=(1000, 1000), chunktype=numpy.ndarray>

In [25]:
x.ndim

2

In [26]:
x = da.random.random((10_000, 10_000), chunks=(1_000, 1_000))

Add array to its transpose

In [27]:
y = x + x.T

In [28]:
y

dask.array<add, shape=(10000, 10000), dtype=float64, chunksize=(1000, 1000), chunktype=numpy.ndarray>

In [16]:
y.compute()

array([[0.13051336, 1.20942977, 1.19508686, ..., 1.59448979, 0.60974634,
        0.11866935],
       [1.20942977, 0.72307205, 0.4643143 , ..., 1.03461881, 1.43040309,
        1.20927318],
       [1.19508686, 0.4643143 , 0.31234266, ..., 1.2876795 , 1.25939056,
        1.24327661],
       ...,
       [1.59448979, 1.03461881, 1.2876795 , ..., 0.85797371, 0.35162027,
        1.39736156],
       [0.60974634, 1.43040309, 1.25939056, ..., 0.35162027, 1.98403962,
        0.48388862],
       [0.11866935, 1.20927318, 1.24327661, ..., 1.39736156, 0.48388862,
        1.37275476]])

Slice every other element and then take the mean along some axis

In [17]:
z = y[::2, :].mean(axis=0)

In [29]:
z

dask.array<mean_agg-aggregate, shape=(10000,), dtype=float64, chunksize=(1000,), chunktype=numpy.ndarray>

In [18]:
z.compute()

array([0.99030736, 0.98967954, 1.00293645, ..., 1.00316679, 1.00846193,
       0.99945378])

In [19]:
z

dask.array<mean_agg-aggregate, shape=(10000,), dtype=float64, chunksize=(1000,), chunktype=numpy.ndarray>

In [30]:
type(z.compute())

numpy.ndarray

In [35]:
x = da.random.random((100_000, 100_000), chunks=(10_000, 10_000))

In [36]:
x

dask.array<random_sample, shape=(100000, 100000), dtype=float64, chunksize=(10000, 10000), chunktype=numpy.ndarray>

In [38]:
import zarr

ModuleNotFoundError: No module named 'zarr'

In [37]:
x.to_zarr("data/random_arr")

ModuleNotFoundError: No module named 'zarr'