In [21]:
import dask.dataframe as dd
import pandas as pd

In [22]:
df = pd.DataFrame(
    {"some_date": ["3/11/2000", "whatever", "3/13/2000"], "letter": ["a", "b", "c"]}
)

In [23]:
ddf = dd.from_pandas(df, npartitions=2)

In [24]:
ddf.compute()

   some_date letter
0  3/11/2000      a
1   whatever      b
2  3/13/2000      c

In [25]:
ddf.dtypes

some_date    object
letter       object
dtype: object

In [30]:
ddf["some_date"] = dd.to_datetime(ddf["some_date"], errors="coerce")

In [32]:
print(ddf.compute())

   some_date letter
0 2000-03-11      a
1        NaT      b
2 2000-03-13      c

In [28]:
ddf.dtypes

some_date    datetime64[ns]
letter               object
dtype: object