# Fuzzy Matching String Similarity

Use the coiled-jelly environment to run this notebook.

In [2]:
import dask.dataframe as dd
import jellyfish

import pandas as pd

## levenshtein_distance

In [26]:
df = pd.DataFrame(
    {
        "col1": ["blah", "cat", "phat", "kitten"],
        "col2": ["blah", "bat", "sat", "sitting"],
    }
)

In [33]:
df

     col1     col2
0    blah     blah
1     cat      bat
2    phat      sat
3  kitten  sitting

In [27]:
ddf = dd.from_pandas(df, npartitions=2)

In [28]:
ddf["col1_col2_lev"] = df.apply(
    lambda x: jellyfish.levenshtein_distance(x.col1, x.col2),
    axis=1,
)

In [29]:
ddf.npartitions

2

In [30]:
ddf

Dask DataFrame Structure:
                 col1    col2 col1_col2_lev
npartitions=2
0              object  object         int64
2                 ...     ...           ...
3                 ...     ...           ...
Dask Name: assign, 13 tasks

In [31]:
ddf.compute()

     col1     col2  col1_col2_lev
0    blah     blah              0
1     cat      bat              1
2    phat      sat              2
3  kitten  sitting              3

## hamming_distance

In [3]:
df = pd.DataFrame(
    {
        "col1": ["jellyfish", "li", "luisa"],
        "col2": ["smellyfish", "lee", "bruna"],
    }
)

In [4]:
df

        col1        col2
0  jellyfish  smellyfish
1         li         lee
2      luisa       bruna

In [40]:
ddf = dd.from_pandas(df, npartitions=2)

In [41]:
ddf["col1_col2_hamming"] = df.apply(
    lambda x: jellyfish.hamming_distance(x.col1, x.col2),
    axis=1,
)

In [42]:
ddf.compute()

        col1        col2  col1_col2_hamming
0  jellyfish  smellyfish                  9
1         li         lee                  2
2      luisa       bruna                  4

## jaro_similarity

In [58]:
df = pd.DataFrame(
    {
        "col1": ["jellyfish", "li", "luisa", "hi"],
        "col2": ["smellyfish", "lee", "bruna", "colombia"],
    }
)

In [59]:
df

        col1        col2
0  jellyfish  smellyfish
1         li         lee
2      luisa       bruna
3         hi    colombia

In [48]:
ddf = dd.from_pandas(df, npartitions=2)

In [49]:
ddf["col1_col2_jaro"] = df.apply(
    lambda x: jellyfish.jaro_similarity(x.col1, x.col2),
    axis=1,
)

In [50]:
ddf.compute()

        col1        col2  col1_col2_jaro
0  jellyfish  smellyfish        0.896296
1         li         lee        0.611111
2      luisa       bruna        0.600000
3         hi    colombia        0.000000

## match_rating_comparison

In [60]:
df = pd.DataFrame(
    {
        "col1": ["mat", "there", "luisa"],
        "col2": ["matt", "their", "bruna"],
    }
)

In [61]:
df

    col1   col2
0    mat   matt
1  there  their
2  luisa  bruna

In [62]:
ddf = dd.from_pandas(df, npartitions=2)

In [63]:
ddf["col1_col2_match_rating"] = df.apply(
    lambda x: jellyfish.match_rating_comparison(x.col1, x.col2),
    axis=1,
)

In [64]:
ddf.compute()

    col1   col2  col1_col2_match_rating
0    mat   matt                    True
1  there  their                    True
2  luisa  bruna                   False

In [1]:
import dask.dataframe as dd

In [2]:
ddf = dd.DataFrame(
    {"num1": [1, 2, 3, 4], "num2": [7, 8, 9, 10]},
    npartitions=2,
)

TypeError: __init__() got an unexpected keyword argument 'npartitions'