In [2]:
import pandas as pd
import dask.dataframe as dd

In [6]:
df = pd.DataFrame({"col1": ["a", "b", "c", "d"], "col2": [1, 2, 3, 4]})

In [7]:
df

  col1  col2
0    a     1
1    b     2
2    c     3
3    d     4

In [ ]:
ddf = dd.from_pandas(df, npartitions=2)

In [5]:
ddf.compute()

  col1  col2
0    a     1
1    b     2
2    c     3
3    d     4

In [10]:
def print_partitions(ddf):
    for i in range(ddf.npartitions):
        print(ddf.partitions[i].compute())

In [11]:
print_partitions(ddf)

  col1  col2
0    a     1
1    b     2
  col1  col2
2    c     3
3    d     4

In [12]:
ddf.known_divisions

True

In [13]:
ddf.divisions

(0, 2, 3)