In [1]:
import os

import dask.dataframe as dd

import pandas as pd

In [2]:
home = os.path.expanduser("~")

In [4]:
ddf = dd.read_parquet(f"{home}/data/timeseries/20-years/parquet/")

In [5]:
ddf.head()

                       id      name         x         y
timestamp
2000-01-01 00:00:00  1008       Dan -0.259374 -0.118314
2000-01-01 00:00:01   987  Patricia  0.069601  0.755351
2000-01-01 00:00:02   980     Zelda -0.281843 -0.510507
2000-01-01 00:00:03  1020    Ursula -0.569904  0.523132
2000-01-01 00:00:04   967   Michael -0.251460  0.810930

## pandas one data file

In [8]:
path = f"{home}/data/timeseries/20-years/parquet/part.0.parquet"
df = pd.read_parquet(path)

In [9]:
df["id"].mean()

999.9610085978836

## pandas multiple data files

In [11]:
import glob

In [12]:
path = f"{home}/data/timeseries/20-years/parquet"
all_files = glob.glob(path + "/*.parquet")

In [ ]:
df = pd.concat((pd.read_parquet(f) for f in all_files))

## dask multiple files

In [13]:
ddf = dd.read_parquet(f"{home}/data/timeseries/20-years/parquet", engine="pyarrow")

In [14]:
%%time
ddf["id"].mean().compute()

CPU times: user 18.8 s, sys: 1.91 s, total: 20.7 s
Wall time: 8.24 s

1000.0002420317822

## dask multiple files

In [15]:
ddf = dd.read_parquet(
    f"{home}/data/timeseries/20-years/parquet",
    columns=["id"],
    engine="pyarrow",
)

In [16]:
%%time
ddf["id"].mean().compute()

CPU times: user 18.8 s, sys: 1.69 s, total: 20.4 s
Wall time: 8.09 s

1000.0002420317822