In [1]:
import coiled
import dask.distributed
import dask.dataframe as dd

In [2]:
cluster = coiled.Cluster(name="demo-cluster", n_workers=5)

таж Creating Cluster. This might take a few minutes...

In [3]:
client = dask.distributed.Client(cluster)

In [4]:
ddf = dd.read_parquet("s3://coiled-datasets/timeseries/7d/parquet/2000")

In [5]:
len(ddf)

31449600

In [6]:
ddf.set_index("id").head(5)

       name         x         y
id
832  Oliver -0.015893  0.678568
842  Yvonne -0.690717  0.110788
843  Yvonne -0.873540 -0.270038
843  Oliver  0.514363  0.803397
844  Yvonne  0.664280 -0.507049

distributed.client - ERROR - Failed to reconnect to scheduler after 30.00 seconds, closing client
_GatheringFuture exception was never retrieved
future: <_GatheringFuture finished exception=CancelledError()>
asyncio.exceptions.CancelledError