# h2o benchmarks - query 2

In [1]:
import coiled
import dask
import dask.dataframe as dd

In [2]:
cluster = coiled.Cluster(
    name="powers-crt-004",
    software="crt-004",
    n_workers=16,
    worker_vm_types=["i3.large"],
)

Output()

In [3]:
client = dask.distributed.Client(cluster)

## 5 GB dataset

In [4]:
ddf = dd.read_parquet(
    "s3://coiled-datasets/h2o-benchmark/N_1e8_K_1e2_parquet",
    storage_options={"anon": True, "use_ssl": True},
    columns=["id1", "id2", "v1"],
    engine="pyarrow",
)

In [5]:
%%time
ddf.groupby(["id1", "id2"], dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 145 ms, sys: 82.5 ms, total: 227 ms
Wall time: 4.06 s

                v1
id1   id2
id001 id001  20372
      id002  20004
      id003  19606
      id004  19937
      id005  19958
...            ...
id100 id096  20027
      id097  19810
      id098  19708
      id099  19995
      id100  20262

[10000 rows x 1 columns]

## 50 GB dataset

In [6]:
ddf = dd.read_parquet(
    "s3://coiled-datasets/h2o-benchmark/N_1e9_K_1e2_parquet",
    storage_options={"anon": True, "use_ssl": True},
    columns=["id1", "id2", "v1"],
    engine="pyarrow",
)

In [7]:
%%time
ddf.groupby(["id1", "id2"], dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 284 ms, sys: 24.3 ms, total: 308 ms
Wall time: 37.1 s

                 v1
id1   id2
id001 id001  198719
      id002  199314
      id003  199708
      id004  198318
      id005  200246
...             ...
id100 id096  200476
      id097  198661
      id098  198795
      id099  199368
      id100  199652

[10000 rows x 1 columns]